{#
 * Tl;DR Summary
 * 
 * @package 
 * @subpackage 
 * @category theme
 * @category view
 * @author Paul Gilzow, Mizzou Creative, University of Missouri
 * @copyright 2015 Curators of the University of Missouri
#}
{% extends 'baseView.twig' %}
{% block content %}
    <h1>{{ PageTitle }}</h1>
    <div>{{ MainPost.content }}</div>
    <!-- generic archive page -->
{% endblock %}