{#
 * View file used to render the containing structure around the majority of pages in the site
 *
 * @package WordPress
 * @subpackage MizzouMVC
 * @category theme
 * @category view
 * @author Paul Gilzow, Andrea Chappelear, Mizzou Creative, University of Missouri
 * @copyright 2015 Curators of the University of Missouri
 *
 * Has access to the following variables
 *  - objMainPost
 *  - strPageTitle
 *  - strEditPostLink
 *  - strInnerViewContent
 *
#}

{% include 'header.twig' %}

<div class="content-layer">
    {% block sidebar %}
        {% include 'sidebar.twig' %}
    {% endblock %}
    <section class="content-block">
        {% block content %}{% endblock %}
    </section>
</div>

{% include 'footer.twig' %}
