{#
 * View file used to render the containing structure around the majority of pages in the site
 *
 * @package WordPress
 * @subpackage MizzouMVC
 * @category theme
 * @category view
 * @author Paul Gilzow, Andrea Chappelear, Mizzou Creative, University of Missouri
 * @copyright 2015 Curators of the University of Missouri
 *
 * Has access to the following variables
 *  - objMainPost
 *  - strPageTitle
 *  - strEditPostLink
 *  - strInnerViewContent
 *
#}
{% include 'header.twig' %}
<body>
{% block analytics_noscript %}
    {% if Site["site-wide"].google_tag_manager_id is not empty %} {% include 'analytics-noscript.twig' %} {% endif %}
{% endblock %}
{% block skipto %}
    {% include 'skipto.twig' %}
{% endblock %}
<div class="page-wrapper">
    {% block layer_brand %}
        {% include 'layer-brand.twig' %}
    {% endblock %}
    {% block layer_header %}
        {% include 'layer-header.twig' %}
    {% endblock %}
    {% block nav_primary %}
        {% include 'nav-primary.twig' %}
    {% endblock %}

    <div id="content" class="content-wrapper" tabindex="-1">
        <div class="content-layer">
            <div class="content-block">
                <div class="content-main">
                    {% block content %}
                    {% endblock %}
                </div>
                {% block sidebar %}
                    {% include 'sidebar.twig' %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% include 'footer.twig' %}
</div><!-- end page-wrapper -->
</body>
</html>
