{#
 * 
 * 
 * @package WordPress
 * @subpackage Wordpress MVC
 * @category theme
 * @category view
 * @author Paul Gilzow, Mizzou Creative, University of Missouri
 * @copyright 2015 Curators of the University of Missouri
#}
{% extends 'baseView.twig' %}
{# eventually, baseView will be restructured to include the header/h1, this is to build in future compatibility #}
{% set _content_header = block("content_header") %}
{% block content %}
    {% if _content_header is empty %}
        <h1>{{ PageTitle }}</h1>
    {% endif %}
    {% for  Event in Events %}
        <div>
            Title: {{ Event.Title }}<br />
            Date: {{ Event.Start| date('F j, Y')}}<br />
            {% if Event.Location  %}
            Location: {{ Event.Location }}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}