{#
 * Default theme view for rendering a page
 * 
 * @package WordPress
 * @subpackage Wordpress MVC
 * @category theme
 * @category view
 * @author Paul Gilzow, Web Communications, University of Missouri
 * @copyright 2015 Curators of the University of Missouri
#}
{% extends 'baseView.twig' %}
{% block content %}
<div>This is the index template</div>
{% endblock %}