{#
 * Default theme view for rendering a page
 * 
 * @package WordPress
 * @subpackage Wordpress MVC
 * @category theme
 * @category view
 * @author Paul Gilzow, Web Communications, University of Missouri
 * @copyright 2015 Curators of the University of Missouri
#}
{% extends 'baseView.twig' %}
{% block content %}
    <div id="content">
        <h1>{{ PageTitle }}</h1>
        <div id="article">
            {% if MainPost is not empty %}
                {{ MainPost.content }}
            {% else %}
                <div>I'm afraid I have nothing to show you.</div>
            {% endif %}
        </div>
    </div>

{% endblock %}