{#
 * 
 * 
 * @package WordPress
 * @subpackage 
 * @category theme
 * @category view
 * @author Paul Gilzow, Mizzou Creative, University of Missouri
 * @copyright 2016 Curators of the University of Missouri
#}
<div class="brand-layer">
    <div class="brand">
        <div class="mu-sig">
            <p class="mu-sig__logo"><a href="http://missouri.edu">Mizzou Logo</a></p>
            <h1 class="mu-sig__wordmark"><a href="http://missouri.edu">University of Missouri</a></h1>
        </div>
    </div>
</div>