{#
 * 
 * 
 * @package WordPress
 * @subpackage 
 * @category theme
 * @category view
 * @author Paul Gilzow, Mizzou Creative, University of Missouri
 * @copyright 2016 Curators of the University of Missouri
#}
<div class="header-layer">
    <header class="header" role="banner">
        <div class="masthead">
            <h1><a href="{{ Site.URL }}">{{ Site.Name }}</a></h1>
        </div>
        <div class="tactical">
            {% include 'searchform.twig' %}
        </div>
    </header>
</div>