{#
 * 
 * 
 * @package WordPress
 * @subpackage Wordpress MVC
 * @category theme
 * @category view
 * @author Paul Gilzow, Web Communications, University of Missouri
 * @copyright 2015 Curators of the University of Missouri
#}
{% extends 'baseView.twig' %}
{% block content %}
    <h1>{{ PageTitle }}</h1>
    {% if PageTitle != 'Search' %}
        <p>Oops &#8230; that page does not exist. Here are the closest matches we could find.</p>
    {% endif %}
    {%  if SearchResults is not empty %}
    {{ SearchResults }}
    {% else %}
        <p>Please enter search terms below.</p>
        {% include 'searchform.twig' %}
    {% endif %}
{% endblock %}