{#
 * 
 * 
 * @package WordPress
 * @subpackage Wordpress MVC
 * @category theme
 * @category view
 * @author Paul Gilzow, Web Communications, University of Missouri
 * @copyright 2015 Curators of the University of Missouri
#}
{% if SearchTerms is not defined %}
    {% set SearchTerms = "Search #{objSite.Name}" %}
{% endif %}
<div class="search-container clearfix">

    <form id="search-form" action="/search/" method="get" role="search">

        <label class="hidden" for="search">Search</label>
        <input id="search" class="search-field" name="q" size="22" type="text" onfocus="this.value=''" value="{{ SearchTerms | e }}"/>
        <input class="search-button" name="sa" type="submit" value="Search"/>
        {% for SearchName, SearchParameter in objSite.search_parameters %}
        <input name="{{ SearchName }}" type="hidden" value="{{ SearchParameter | e }}" />
        {% endfor %}
    </form>

</div>