{#
 * 
 * 
 * @package WordPress
 * @subpackage Wordpress MVC
 * @category theme
 * @category view
 * @author Paul Gilzow, Mizzou Creative, University of Missouri
 * @copyright 2015 Curators of the University of Missouri
#}
{% extends 'baseView.twig' %}
{# eventually, baseView will be restructured to include the header/h1, this is to build in future compatibility #}
{% set _content_header = block("content_header") %}
{% block content %}
    {% if _content_header is empty %}
        <h1>{{ PageTitle }}</h1>
    {% endif %}
    {% if PageTitle == 'Page not found' %}
        <p>Oops &#8230; that page does not exist. Here are the closest matches we could find.</p>
    {% endif %}
    {% include 'search-results.twig' %}
{% endblock %}