{#
 * 
 * 
 * @package WordPress
 * @subpackage Wordpress MVC
 * @category theme
 * @category view
 * @author Paul Gilzow, Web Communications, University of Missouri
 * @copyright 2015 Curators of the University of Missouri
#}
{% if Menu.Page is not empty %}
<div class="sidebar">
    {{ Menu.Page }}
</div>
{% endif %}