{#
 * 
 * 
 * @package WordPress
 * @subpackage Wordpress MVC
 * @category theme
 * @category view
 * @author Paul Gilzow, Mizzou Creative, University of Missouri
 * @copyright 2015 Curators of the University of Missouri
#}
{% if Menu.Page is not empty %}
<div class="aside">
    <nav id="mobile-menu" class="nav-vertical">
        {{ Menu.Page }}
    </nav>
</div>
{% endif %}