{#
 * 
 * 
 * @package WordPress
 * @subpackage 
 * @category theme
 * @category view
 * @author Paul Gilzow, Mizzou Creative, University of Missouri
 * @copyright 2016 Curators of the University of Missouri
#}
<a href="#content" class="skip-to-content">Skip to Content</a>
<a href="#nav" class="skip-to-content">Skip to Navigation</a>